sudo: false
language: android
jdk: oraclejdk8
env:
  matrix:
    - ANDROID_TARGET=android-25

android:
  components:
    - platform-tools
    - tools
    - android-25
    - build-tools-25.0.0

licenses:
  - 'android-sdk-license-.+'

before_install:
  - echo yes | android update sdk --filter extra-android-m2repository --no-ui --force > /dev/null

script:
  - ./gradlew check

after_success:
  - bash <(curl -s https://codecov.io/bash)
